.searchPage{
    height: 90%;
    width: 100%;
}

.ipContainer{
    display: flex;
    justify-content:center ;
    align-items: center;
    /* margin-top: 50px; */
    gap: 30px;
}

.ipContainer input{
    height: 30px;
    width: 300px;
    background-color: rgb(15,17,21);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #92908d;
    padding: 0 10px;
    color: #92908d;
}

.ipContainer button {
    height: 30px;
    width: 120px;
    background-color: rgb(15,17,21);
    border: 2px solid #ebb546;
    border-radius: 8px;
    color: white;
}